{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block title %}Mon compte - DiY District{% endblock %}

{% block content %}
<div class="account">
    <h1>Mon compte</h1>
    <div class="parent">
        <div class="child-left">
            <a href="{{ path('account_order')}}" class="btn">Commandes</a>
            <a href="{{ path('account_address')}}" class="btn">Adresses</a>
            <a href="{{ path('account_password')}}" class="btn">Modifier mon mot de passe</a>
        </div>
        <div class="child-right">
            
        </div>
    </div>
</div>

{% endblock %}
