{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="static-page-content">
    <div class="image-illustration">
        <img src="./uploads/images/japan01.jpg" alt="japan kimono geisha">
    </div>
    <h3>Tous nos tissus sont en provenance directe du Japon !</h3>
    <p>Vous trouverez dans notre boutique un large choix de tissus, que ce soit des tissus japonais traditionnels, modernes, avec des motifs japonais de type seigaiha ou asanoha ou bien encore avec des formes géométriques… Le tissu japonais peut vraiment prendre toutes les formes surtout lorsque l’on vous propose plus de 400 références !</p>

    <h3>Japanese Tissus : Un peu d’histoire et quelques explications</h3>
    <p>Les tissus japonisant sont encrés dans la culture japonaise et se distinguent d’un premier coup d’œil et de nos jours, de nombreuses personnes préfèrent encore ce genre de tissu, car il représente un sublime côté artistique. Les Japonais sont des passionnés de beauté et ils veulent garder et mettre en exergue toujours ce côté esthétique dans leur vie quotidienne et spirituelle. On observe cette esthétique dans les jardins paysagés, bonsaï, ikebana, poterie, calligraphie, habillement, etc.</p>
    <div class="image-illustration">
        <img src="./uploads/images/japanfabrics.jpg" alt="japanese fabrics">
    </div>
    <h3>Les différents types de tissu japonais</h3>
    <p>Les Japonais ont transmis de génération en génération les techniques de teinture et de tissage de tissu. En adaptant leur procédé avec la technologie moderne, les Japonais ont pu garder l’esthétisme de cette technique artisanale à travers les tissus qu’ils fabriquent. Avec leur coton japonais, Ils ne cessent de produire des variétés de textile pratiques, confortables, originaux et adaptées à chacun. Les variétés de tissu japonais sont nombreuses, mais les plus grandes tendances sont : les motifs façon pochoir, les motifs géométriques, les thèmes poétiques, les marques stars, les tissus pour Patchwork et les tissus Liberty. Incontournables, les tissus dotés de motifs Asanoha et Seigaiha restent les plus prisés.</p>

    <h3>Les tissus Asanoha</h3>
    <p>Les tissus Asanoha sont décorés par des motifs géométriques très courants, comme une forme de 6 diamants. Il représente un dessin stylé de feuilles de chanvre qui s’entremêlent. Notons que les chanvres constituaient l’une des matières premières les plus utilisées pour fabriquer des textiles auparavant. Comme cette plante possède des vertus de croissance et de robustesse, ce sont surtout les bébés et les enfants qui ont revêtu ce tissu, car selon leur croyance, ces vertus se transmettent à ceux qui le portent. Le motif Asanoha se porte en toute saison, mais on peut également le porter seul ou associé avec d’autres motifs.</p>
    <div class="image-illustration">
        <img src="./uploads/images/asanoha.jpg" alt="asanoha fabrics">
    </div>
    <h3>Les tissus Seigaiha</h3>
    <p>Les tissus Seigaiha sont décorés avec un motif représentant une vague de la mer bleue présentée par 4 portions de cercle superposées. On a tiré probablement le nom de ce motif à partir d’un costume conçu pour une danse de gagaku intitulée « seigaiha ». De nos jours, ils sont proposés en diverses épaisseurs, de trait et de couleur.</p>
    <div class="image-illustration">
        <img src="./uploads/images/seigaiha.jpg" alt="seigaiha fabrics">
    </div>
    <p>Vous l’aurez compris, le tissus “made in japan” peut prendre de nombreuses formes et je vous invite à parcourir notre boutique pour en découvrir toutes ses merveilles !</p>
</div>
{% endblock %}