{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}

<div class="static-page-content">
    <h1>Mentions complémentaires</h1>
    <p>Le présent site <span class="bold-text">DIY District</span> spécialiste du tissus japonais est édité par Madame GRETTNER, Auto entrepreneur, immatriculée au registre du commerce et des sociétés de Versailles sous le numéro ..., et domiciliée en cette qualité sis ... 35300 Fougères.</p>
    <p>L’éditeur est joignable par téléphone au <span class="bold-text">0910101010</span> ou par courrier électronique à l’adresse suivante : <span class="bold-text">contact@diydistrict.fr</span> TVA applicable, article 293B du CGI.</p>
    <p>La directrice de la publication du site est Madame GRETTNER. Le responsable de la rédaction est Madame GRETTNER. Le présent site est hébergé par la société OVH, dont le siège social est sis 2 rue Kellermann 59100 Roubaix, joignable par téléphone au numéro suivant : +33 9 72 10 10 07.</P>
</div>
{% endblock %}