{% extends "base.html.twig" %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block slider %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
  <!-- Toutes les cartes -->
  <div class="best-products">
    <h1>Nouveautés</h1>
    <div class="products-hightlight">
      {% for product in products %}
      <div class="product">
        {% include 'product/singleProduct.html.twig' %}
      </div>
      {% endfor %}
    </div>
    <h1>Meilleures ventes</h1>
    <div class="products-hightlight">
      {% for product in products %}
      <div class="product">
        {% include 'product/singleProduct.html.twig' %}
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Fin de toutes les cartes -->
{% endblock %}