footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5em 0 2em;
  margin-top: 2em;
  font-size: 1.3em;
  background-color: #000;
  color: #fff;
  position: absolute;
  bottom: 0;
  width: 100%;
  a {
    color: white;
    padding: 0 1em;
  }
}
