header {
  display: flex;
  flex-direction: column;
  min-height: 10vh;

  .topbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
    background-color: #000;
    height: 5em;
    padding: 0 2em;

    i {
      margin-left: 0.5em;
    }

    a {
      margin-right: 1em;
      font-size: 1.3em;
      color: #fff;
      text-decoration: none;
    }
    a:nth-last-child(-n + 1) {
      margin-right: 0;
    }
  }

  .navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #fff;
    padding: 0 2em;
    padding-top: 2em;

    a {
      display: flex;
      align-items: center;
      font-size: 3em;
      text-decoration: none;
      color: #000;
      font-weight: bold;
      text-align: center;
    }
    .onglets {
      display: flex;
      flex-wrap: wrap;
    }
    .onglets a {
      font-size: 1.6em;
      margin-right: 2em;
      cursor: pointer;
    }

    .onglets a:nth-last-child(-n + 1) {
      margin-right: 0;
    }

    .onglets input {
      margin: 8px 20px;
      padding: 15px;
      border-radius: 30px;
      border: none;
      background-color: #f2f2f2;
      outline: none;
    }
  }

  .slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 3em;

    h1 {
      font-size: 50px;
      max-width: 500px;
      text-align: center;
    }
    button {
      padding: 15px 20px;
      font-size: 20px;
      border: none;
      border-radius: 5px;
      outline: none;
      cursor: pointer;
    }
  }
}
