.orderErrorPage-container {
  display: flex;
  flex-direction: column;
  width: 60%;
  max-width: 128em;
  margin: auto;
  padding-top: 5em;

  .bold-text {
    font-weight: 600;
  }

  a {
    margin-top: 2em;
    text-align: center;
    width: fit-content;
    display: block;
    background-color: #000000;
    border: solid 2px black;
    padding: 1.1em 1.7em;
    border-radius: 0.5em;
    color: #ffff;
    font-size: 1.3em;
    text-decoration: none;
    transition-duration: 0.3s;
  }
  a:hover {
    color: #000000;
    background-color: white;
    border: solid 2px black;
  }

  .paiement-error {
    p {
      font-size: 1.3em;
    }
  }
}
