.product-container {
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 3rem;
  display: flex;
  gap: 4rem;
  margin-top: 7rem;

  .product-image {
    flex: 1;

    img {
      width: 100%;
      // max-width: 50rem;
      // max-height: 35rem;
      // height: 100%;
      object-fit: cover;
      object-position: right;
      border-radius: 10px;
    }
  }

  .product-description {
    flex: 1;

    a {
      display: inline-block;
      background-color: var(--color-back-blue);
      border-radius: 0.5rem;
      padding: 1.5rem 3rem;
      text-decoration: none;
      list-style: none;
      color: var(--color-font-white);
      font-weight: 500;
      font-size: 1.4rem;
    }
    a:hover {
      background-color: var(--color-back-mint);
    }

    h2 {
      font-size: 2.5rem;
      font-weight: bold;
    }

    p {
      font-size: 1.4rem;
    }

    .price {
      font-weight: bold;
      font-size: 2rem;
    }
  }
}

.accordeon-wrapper {
  margin-bottom: 2.5rem;
  border-bottom: 1px solid rgba(128, 128, 128, 0.2);

  .accordeon {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    width: 100%;
    text-align: left;
    transition: 0.4s;
    font-size: 2rem;

    i {
      font-size: 1.5rem;
    }
  }

  .panel {
    padding: 1rem 0;
    padding-left: 1rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;

    p {
      font-size: 1.4rem;
    }
  }
}

.frequently_asked_question {
  max-width: 128rem;
  margin: 0 auto;
  margin-top: 10rem;
  padding: 0 3rem;

  .panel-content {
    h3 {
      font-size: 1.6rem;
      font-weight: 500;
      margin-bottom: 1rem;
    }

    p {
      font-size: 1.4rem;
      margin-left: 1rem;
    }
  }
}

@media screen and(max-width:800px) {
  .product-container {
    margin-top: 4rem;
    flex-direction: column;
    gap: 2rem;

    .product-description {
      h2 {
        margin: 0;
      }

      a {
        text-align: center;
      }
    }
  }

  .description-price-wrapper {
    display: flex;
    flex-direction: column-reverse;
    gap: 2rem;
  }

  .frequently_asked_question {
    margin-top: 0;

    .panel-content {
      p {
        margin: 0;
      }
    }
  }
}
