:root {
  --font-family-open-sans: "Open Sans";
  --font-family-roboto: "Roboto";

  --color-font-blue: #2e4052;
  --color-font-mint: #bdd9bf;
  --color-font-white: #fff;
  --color-font-red-blood: #880808;
  --color-font-grey: rgb(164, 164, 164);

  --color-back-blue: #2e4052;
  --color-back-white: #fff;
  --color-back-mint: #bdd9bf;
  --color-back-yellow: #ffc857;

  --color-grey: rgb(164, 164, 164);
  --color-light-grey: rgb(238, 238, 238);
}
