@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 10vh;
}

header .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
  background-color: #000;
  height: 5em;
  padding: 0 2em;
}

header .topbar i {
  margin-left: 0.5em;
}

header .topbar a {
  margin-right: 1em;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}

header .topbar a:nth-last-child(-n + 1) {
  margin-right: 0;
}

header .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #fff;
  padding: 0 2em;
  margin-top: 2em;
}

header .navbar a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 3em;
  text-decoration: none;
  color: #000;
  font-weight: bold;
  text-align: center;
}

header .navbar .onglets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

header .navbar .onglets a {
  font-size: 1.6em;
  margin-right: 2em;
  cursor: pointer;
}

header .navbar .onglets a:nth-last-child(-n + 1) {
  margin-right: 0;
}

header .navbar .onglets input {
  margin: 8px 20px;
  padding: 15px;
  border-radius: 30px;
  border: none;
  background-color: #f2f2f2;
  outline: none;
}

header .slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 3em;
}

header .slider h1 {
  font-size: 50px;
  max-width: 500px;
  text-align: center;
}

header .slider button {
  padding: 15px 20px;
  font-size: 20px;
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 20vh;
  width: 100%;
  font-size: 1.3em;
  background-color: black;
  color: white;
}

footer a {
  color: white;
  padding: 0 1em;
}

.cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.cards .card {
  margin-right: 20px;
  overflow: hidden;
  cursor: pointer;
}

.cards .card img {
  width: 350px;
  border-radius: 10px;
}

.cards .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cards .card-body p {
  margin-top: -10px;
}

.container-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
}

.container-video .video {
  width: 90%;
}

.container-video .video iframe {
  border: none;
  border-radius: 10px;
  width: 100%;
  height: 400px;
}

button a {
  text-decoration: none;
  color: black;
}

.auth-main {
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.auth-form {
  height: auto;
}

.auth-form h1 {
  text-align: center;
  font-size: 3em;
}

.auth-form ul {
  padding: 0;
  list-style-type: none;
  color: red;
}

.auth-form .col label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-size: 1.5em;
}

.auth-form input {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  min-width: 25em;
  font-size: 1.5em;
}

.auth-form input:focus,
.auth-form textarea:focus,
.auth-form select:focus {
  outline: none;
}

.auth-form .btn {
  background-color: #000000;
  /* Green */
  border: solid 2px black;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.6em;
  margin-top: 30px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.auth-form .btn:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.auth-form .auth-col-btn {
  text-align: center;
}

.signin-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  margin-top: 20px;
  font-size: 1.2em;
}

.signin-row a {
  color: black;
}

.signin-row a:hover {
  font-weight: bold;
}

.login-main {
  margin: 0;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.login-form {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-form h1 {
  text-align: center;
  font-size: 3em;
}

.login-form label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-size: 1.5em;
}

.login-form input {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  min-width: 25em;
  font-size: 1.5em;
}

.login-form input:focus,
.login-form textarea:focus,
.login-form select:focus {
  outline: none;
}

.login-form .btn {
  background-color: #000000;
  /* Green */
  border: solid 2px black;
  border-radius: 10px;
  color: white;
  padding: 15px 32px;
  text-decoration: none;
  font-size: 1.6em;
  margin-top: 30px;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.login-form .btn:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.login-form .login-col-btn {
  text-align: center;
}

.login-form .alert {
  margin-top: 200px;
  text-align: center;
  color: red;
}

.login-form .login-status {
  margin-top: 20px;
  text-align: center;
  color: green;
}

.login-form .login-status a {
  color: green;
}

.login-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1em;
  margin-top: 20px;
  font-size: 1.2em;
}

.login-row a {
  color: black;
}

.login-row a:hover {
  font-weight: bold;
}

.account {
  margin: 0 10%;
}

.account h1 {
  margin-top: 3em;
}

.account a {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 247px;
  display: block;
  background-color: #000000;
  border: solid 2px black;
  padding: 1.1em 1.7em;
  border-radius: 1em;
  color: #ffff;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.account a:hover {
  color: #000000;
  background-color: white;
  border: solid 2px black;
}

.account .reset-password {
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.account .reset-password h1 {
  text-align: center;
  font-size: 3em;
}

.account .reset-password label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 20px;
  font-size: 1.5em;
}

.account .reset-password input {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  width: 100%;
  max-width: 25em;
  font-size: 1.5em;
}

.account .reset-password input:focus,
.account .reset-password textarea:focus,
.account .reset-password select:focus {
  outline: none;
}

.account .reset-password .btn {
  background-color: #000000;
  border: solid 2px black;
  border-radius: 10px;
  color: white;
  padding: 1.1em 1.7em;
  text-decoration: none;
  font-size: 1.3em;
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

.account .reset-password .btn:hover {
  background-color: white;
  color: black;
  border: solid 2px black;
}

.account .col ul {
  color: red;
  list-style: none;
  padding: 0;
}

.account .alert {
  color: red;
  margin-top: 20px;
}

.account .good {
  color: green;
  margin-top: 20px;
}

.parent {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
  -ms-grid-rows: (1fr)[4];
      grid-template-rows: repeat(4, 1fr);
  grid-column-gap: 50px;
  grid-row-gap: 10px;
}

.div1 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
}

.div2 {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.div3 {
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 3 / 1 / 4 / 2;
}

.div4 {
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 4 / 1 / 5 / 2;
}

.div5 {
  -ms-grid-row: 1;
  -ms-grid-row-span: 4;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 5 / 3;
}

.productsPage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 90%;
  max-width: 128em;
  margin: auto;
  margin-top: 5em;
}

.productsPage-container .products-filter {
  width: 20em;
}

.productsPage-container .products-filter .category-filter {
  margin-top: 1em;
  font-size: 1.3em;
}

.productsPage-container .products-filter .category-filter input[type="checkbox"] {
  accent-color: black;
}

.productsPage-container .products-filter .collapse-filter,
.productsPage-container .products-filter .btn-filter {
  background-color: black;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  border-radius: 1em;
  text-align: left;
  outline: none;
  font-size: 1.3em;
}

.productsPage-container .products-filter .btn-filter {
  padding: 1em;
  margin-top: 1em;
}

.productsPage-container .products-filter .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 1.8em;
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.2s ease-out;
  transition: max-height 0.2s ease-out;
}

.productsPage-container .products-filter .search-input {
  border: none;
  border-bottom: 2px solid black;
  height: 30px;
  width: 100%;
  margin-top: 1em;
  max-width: 25em;
  font-size: 1.5em;
}

.productsPage-container .products-filter .search-input:focus,
.productsPage-container .products-filter textarea:focus,
.productsPage-container .products-filter select:focus {
  outline: none;
}

.productsPage-container .products-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.productsPage-container .products-container h1 {
  margin-top: 2em;
}

.productsPage-container .products-container a {
  text-decoration: none;
  color: #000;
}

.productsPage-container .products-container .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 10em;
}

.productsPage-container .products-container .products .product {
  min-width: 25em;
  height: auto;
  margin-bottom: 10px;
  cursor: pointer;
}

.productsPage-container .products-container .products .product img {
  width: 100%;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

@media screen and (min-width: 390px) and (max-width: 639px) {
  .products {
    width: 100%;
  }
  .products .product {
    height: auto;
    width: 100%;
  }
  .products .product:nth-child(2n + 0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 640px) and (max-width: 767px) {
  .products .product {
    height: auto;
    width: calc(100% / 2 - 1%);
    margin-right: calc((1% * 2) / 1);
  }
  .products .product:nth-child(2n + 0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .products .product {
    height: auto;
    width: calc(100% / 2 - 1%);
    margin-right: calc((1% * 2) / 1);
  }
  .products .product:nth-child(2n + 0) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1024px) {
  .products {
    max-width: 128em;
  }
  .products .product {
    width: calc(100% / 3 - 1%);
    margin-right: calc((1% * 3) / 2);
  }
  .products .product:nth-child(3n + 0) {
    margin-right: 0;
  }
}

.product-container {
  display: -ms-grid;
  display: grid;
  width: 60%;
  margin: auto;
  margin-top: 4em;
  -ms-grid-columns: 1fr 2fr;
      grid-template-columns: 1fr 2fr;
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
}

.product-container .product-image {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 1 / 1 / 2 / 2;
  height: 300px;
  width: 400px;
}

.product-container .product-image img {
  max-height: 300px;
  width: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}

.product-container .product-description {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 1 / 2 / 2 / 3;
}

.product-container .product-description a {
  margin-top: 2em;
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  background-color: #000000;
  border: solid 2px black;
  padding: 1.1em 1.7em;
  border-radius: 1em;
  color: #ffff;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

.product-container .product-description a:hover {
  color: #000000;
  background-color: white;
  border: solid 2px black;
}

.product-container .product-description h2 {
  font-size: 3em;
  font-weight: bold;
}

.product-container .product-description p {
  font-size: 1.3em;
}

.product-container .product-description .price {
  font-weight: bold;
  font-size: 2em;
}

.cartPage-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 60%;
  max-width: 128em;
  margin: auto;
  margin-top: 5em;
}

.cartPage-container .content-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1.3em;
  min-width: 400px;
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.cartPage-container .content-table a {
  text-decoration: none;
  color: black;
}

.cartPage-container .content-table thead tr {
  background-color: black;
  color: #ffffff;
  text-align: left;
}

.cartPage-container .content-table th,
.cartPage-container .content-table td {
  padding: 12px 15px;
}

.cartPage-container .content-table th .fa-plus,
.cartPage-container .content-table th .fa-minus,
.cartPage-container .content-table td .fa-plus,
.cartPage-container .content-table td .fa-minus {
  margin: 0 0.5em;
}

.cartPage-container .content-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.cartPage-container .content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.cartPage-container .content-table tbody tr:last-of-type {
  border-bottom: 2px solid black;
}

.cartPage-container .content-table .icons-cart {
  text-align: center;
}

.cartPage-container .content-table .total {
  font-weight: bold;
  font-size: 1.4em;
}

.cartPage-container .btn-validateCart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.cartPage-container .btn-validateCart a {
  text-align: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  min-width: 200px;
  display: block;
  background-color: #000000;
  border: solid 2px black;
  padding: 1.1em 1.7em;
  border-radius: 1em;
  color: #ffff;
  font-size: 1.3em;
  text-decoration: none;
  -webkit-transition-duration: 0.3s;
          transition-duration: 0.3s;
}

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 70vh;
}
/*# sourceMappingURL=style.css.map */