@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import "./header", "./footer", "./homepage", "./registerPage", "./loginPage",
  "./accountPage", "./productsPage", "./productPage", "./cartPage",
  "./orderSuccessPage", "./orderErrorPage", "./orderPage", "./accountOrdersPage",
  "./accountOrderPage";

html,
body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-family: "Open Sans", sans-serif;
  font-size: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

body::-webkit-scrollbar {
  display: none;
}

main {
  min-height: 70vh;
}

.splide__track {
  max-width: 128rem;
  border-radius: 1rem;
  margin: 5rem auto;
}

.splide__slide {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 128rem;

  img {
    position: relative;
    object-fit: cover;
    width: 100%;
    height: auto;
  }

  .container_slider {
    position: absolute;
    top: 50%;
    left: 25%;
    transform: translate(-50%, -50%);

    h1 {
      font-size: 3rem;
    }
  }
}
