{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="static-page-content error-page">
    <h1>Erreur critique du site</h1>
    <div class="image-illustration">
        <img src="./uploads/images/japan01.jpg" alt="japan kimono geisha">
    </div>
    <p>La page demandée présente une erreur importante. N'hésitez pas à contacter le webmaster du site via la page <a href="{{ path('contact') }}">contact</a>. Ou en envoyant un email à l'adresse: contact@diydistrict.fr</p>
</div>
{% endblock %}