{% extends 'base.html.twig' %}

{% block header %}{% endblock %}
{% block topbar %}{% endblock %}
{% block navbar %}{% endblock %}
{% block footer %}{% endblock %}

{% block content %}
<div class="static-page-content error-page">
    <h1>Page introuvable</h1>
    <div class="image-illustration">
        <img src="./uploads/images/grue404.png" alt="grue 404">
    </div>
    <p>La page demandée est introuvable. Vérifier si l'url ne présente aucune faute d'orthographe ou <a href="{{ path('home') }}">retournez à la boutique</a>.</p>
</div>
{% endblock %}